h4 本サイトについて

p 本サイトはxvideosやFC2等の動画が貼られているサイトから動画のみを抜き出すウェブサービスです。
p アダルトコンテンツを含むため18歳未満の方は閲覧禁止です。

h4 掲載動画について

p 掲載されている動画について問題があれば、各動画共有サイトへお問い合わせください。
p また本サイトは動画共有サイトへのアップロード行為やそれを推奨、援助するものではありません。

h4 免責事項
  
p 当サイト及び外部リンク先のサイトを利用したことにより発生した、いかなる損失・損害についても当サイトは一切の責任と義務を負いません。
p ご利用は自己責任でお願い致します。

p 登録される場合は同意されたものとみなします。

h4 登録情報について

個人を特定できない範囲に最新の注意を払い、
登録された動画情報は他サイトで使用する場合がございます。


h4 リンクについて

p 当サイトはリンクフリーです。
p 気にいった場合は是非紹介ください
