p
  |このページのurlを
  i.fa.fa-search
    |フォームに入力するかブックマークレットを使ってみましょう。ページ内の動画のみ抽出されたページが開かれます

p
  = Rails.application.config.site_url
  |/demo
- if smartphone?
  section onclick="javascript:window.prompt('全て選択→コピー→ブックマークに登録','javascript:var url=document.URL;var ua = window.navigator.userAgent;if ( ua.indexOf(\'iPhone\') != -1 || ua.indexOf(\'iPad\') != -1 || ua.indexOf(\'Android\') != -1 ) {  location.href=(\'#{Rails.application.config.site_url}/?url=\'+url);} else {  void(window.open(\'#{Rails.application.config.site_url}/?url=\'+url,\'_blank\',\'width=440,height=600,resizable=1,scrollbars=1,status=1\'));}');void(0);"
    i.fa.fa-clipboard
      a  ココをタップ
- else
  section
    a href="javascript:var url=document.URL;var ua = window.navigator.userAgent;if ( ua.indexOf('iPhone') != -1 || ua.indexOf('iPad') != -1 || ua.indexOf('Android') != -1 ) {  location.href=('#{Rails.application.config.site_url}/?url='+url);} else {  void(window.open('#{Rails.application.config.site_url}/?url='+url,'_blank','width=440,height=600,resizable=1,scrollbars=1,status=1'));}"
      i.fa.fa-clipboard 俺のビデオ

h3 動画1

.video-wrapper
  .video-container
    iframe width="560" height="315" src="//www.youtube.com/embed/cg3D8HQbJH4?rel=0" frameborder="0" allowfullscreen

h3 Youtube動画(と思わせた騙しリンク)
- if smartphone?
  a href='/'
    = image_tag 'dummy_video.jpg'
- else
  a href='' onclick="window.open('/', 'dummy_link', 'width=440,height=600'); return false;" target="_blank"
    = image_tag 'dummy_video.jpg'


h3 動画2
.video-wrapper
  .video-container
    iframe width="560" height="315" src="//www.youtube.com/embed/8wruRUlrTYg?rel=0" frameborder="0" allowfullscreen
