section style="text-align:center"
  section.pure-alert-success
    p.catch-phrase 「もうアダルトサイトで迷わない」
  section
    ul
      li 俺のビデオは画像や外部リンクばかりのアダルトサイトから動画部分だけを抜き出します
      li 動画があるサイトのURLを入力して試してみましょう!
    form.pure-form style="text-align:center" action="/"
      i.fa.fa-search
      input type="text" name="url" placeholder="アダルトサイトのURLを入力" autocomplete="off"
      button.pure-button.pure-button-primary type="submit" style="margin-left:5px" 検索

  section data-step="3" data-intro="3分間の解説動画で使い方が学べます" style="margin:20px 0"
    iframe width="560" height="315" src="//www.youtube.com/embed/YzSD1DiCt-w?rel=0" frameborder="0" allowfullscreen="1"
    / = image_tag("dummy_youtube.jpg", size: "560x315")
  section style="margin: 20px 0"
  - if logged_in?
    a href="/demo"
      button.pure-button.pure-button-primary 使い方を体験する
  - else
    a href="/signup"
      button.pure-button.pure-button-primary ユーザ登録(無料)

  hr
  section#bookmarklet  data-step="3" data-intro="ブックマークレットを使えば簡単に動画を登録できます"
    i.fa.fa-legal
    | 簡単登録ツール
    section.sub-container
      - if smartphone?
        section onclick="javascript:window.prompt('全て選択→コピー→ブックマークに登録','javascript:var url=document.URL;var ua = window.navigator.userAgent;if ( ua.indexOf(\'iPhone\') != -1 || ua.indexOf(\'iPad\') != -1 || ua.indexOf(\'Android\') != -1 ) {  location.href=(\'#{Rails.application.config.site_url}/?url=\'+url);} else {  void(window.open(\'#{Rails.application.config.site_url}/?url=\'+url,\'_blank\',\'width=440,height=600,resizable=1,scrollbars=1,status=1\'));}');void(0);"
          i.fa.fa-clipboard
          a  ココをタップ
      - else
        section
          a href="javascript:var url=document.URL;var ua = window.navigator.userAgent;if ( ua.indexOf('iPhone') != -1 || ua.indexOf('iPad') != -1 || ua.indexOf('Android') != -1 ) {  location.href=('#{Rails.application.config.site_url}/?url='+url);} else {  void(window.open('#{Rails.application.config.site_url}/?url='+url,'_blank','width=440,height=600,resizable=1,scrollbars=1,status=1'));}"
            i.fa.fa-clipboard
            | 俺のビデオ
        section style="margin: 20px 0"
    p ブックマークレットを使えば、簡単に訪問サイト内の動画を抜き出せます
