legend ユーザ登録
hr
- if @user.errors.any?
  - @user.errors.full_messages.each do |msg|
    = msg

.pure-g-r
  .pure-u-1-2
    = form_for @user, url: users_path, html: {class: 'pure-form pure-form-stacked' } do |f|
      fieldset
        = f.text_field :login,placeholder: 'ユーザID'
        = f.password_field :password,placeholder: 'パスワード'
        = f.password_field :password_confirmation,placeholder: 'パスワード確認'
        = recaptcha_tags
        = f.submit "利用規約に同意して登録", class: "register-button pure-button pure-button-primary"
  .pure-u-1-2
    div style="overflow:auto;width:480px;height:550px"
      = render :partial => '/static_pages/terms'
