/ - if video[:embed]

- method = video[:video] ? 'PATCH' : 'POST'
- display_button = video[:video] ? '更新' : '登録'
.pure-g-r  id="video_form#{video_counter}"
  .pure-u-1-2.video
    - if video[:embed]
      .video-wrapper
        .video-container
          == video[:embed]
  .pure-u-1-2.input-form
    - if logged_in?
      = form_for @video,:html => { :id => "form_#{video_counter}",:class => 'pure-form pure-form-stacked', :onsubmit => "return updateVideo(this,'#{method}');"} do |f|
        fieldset
          .field
            = f.label (:タイトル)
            = f.text_field( :title,value: video[:title], size: 40)
          .field
            = f.label (:女優)
            = f.select(:actress_name, @actress_select_options, {:selected => "#{video[:actress_name]}"}, :class => "chzn-select#{video_counter}")
            javascript:
              $(".chzn-select#{video_counter}").chosen();
              $(".chzn-selectchzn-select#{video_counter}-deselect").chosen({allow_single_deselect:true});
          .field
            = f.label (:タグ)
            input name="tags" id="tags#{video_counter}" value="#{video[:tags]}"
            javascript:
              $('#tags#{video_counter}').tagsInput({
              'onAddTag': function(tag){
                 updateTag(#{video_counter},tag,'post')
               },
              'onRemoveTag': function(tag){
                 updateTag(#{video_counter},tag,'delete')
                }

              });

            = f.submit( display_button, :class => 'pure-button pure-button-primary')
          .field
            = hidden_field(:video, :site_symbol, :value =>  video[:site_symbol])
            = hidden_field(:video, :param,   :value =>  video[:param])
            = hidden_field(:video, :user_id, :value =>  current_user.id)
            = hidden_field_tag(:form_num, video_counter)
    - else
      p ユーザ登録をすれば、動画を登録・検索できるようになります!
      div  style="text-align:center"
        a href="/signup"
          button.pure-button.pure-button-primary ユーザ登録(無料)

hr
