- method = @user_video ? 'PATCH' : 'POST'
- display_button = @user_video ? '更新' : '登録'
= form_for @user_video, url: {:action => :edit}, :html => {:id => 'form_0', :class => 'pure-form pure-form-stacked',:onsubmit => "return updateVideo(this,'#{method}');" } do |f|
  fieldset
    - if @embed
      == @embed
    .field
      = f.label (:タイトル)
      = f.text_field( :title,value: @user_video.title, size: 40)
    .field
      = f.label (:女優)
      = f.select(:actress_name, @actress_select_options, {:selected => "#{@user_video.actress_name}"}, :class => "chzn-select")
      javascript:
        $(".chzn-select").chosen();
        $(".chzn-selectchzn-select-deselect").chosen({allow_single_deselect:true});
      .field
        = f.label (:タグ)
        input name="tags" id="tags" value="#{@user_video.tags.pluck(:name).join(',')}"
        javascript:
          $('#tags').tagsInput({
            'onAddTag': function(tag){
               updateTag(0,tag,'post')
             },
            'onRemoveTag': function(tag){
               updateTag(0,tag,'delete')
              }
          });
      .field
        = f.button( display_button, :class => 'pure-button pure-button-primary update-button', :type => 'submit')
      .field
        = hidden_field(:video, :site_symbol, :value =>  @user_video.video.site_symbol)
        = hidden_field(:video, :param,   :value =>  @user_video.video.param)
        = hidden_field(:video, :user_id, :value =>  current_user.id)

hr
