section.pure-g-r
  .pure-u-1-4.tags
    section  data-step="3" data-intro="タイトル・女優名・タグで登録した動画を絞り込み検索できます " data-position="right"
      = form_tag "/watch", method: 'get',class: 'pure-form pure-form-stacked' do
        = label_tag :query,''
          = text_field_tag :query,params[:query],placeholder: 'タイトルで検索'
        = label_tag(:actress_name,'女優')
          = select_tag :actress_name, options_for_select(@actress_select_options, :selected => params[:actress_name] ), :class => "chzn-select", 'data-placeholder' => '女優で検索'
        javascript:
           $(".chzn-select").chosen();
            $(".chzn-selectchzn-select-deselect").chosen({allow_single_deselect:true});
        = submit_tag "検索",class: 'search-button pure-button pure-button-primary'
      h3 タグ一覧
      ul.mytag
        - @tags.each do |t|
          li.tag
            - if params[:tag] == t.name
              span.tag.tag-selected
                a href="/watch/?tag=#{t.name}"
                  i class="fa fa-tag"
                  = t.name
            - else
              span.tag
                a href="/watch/?tag=#{t.name}"
                  i class="fa fa-tag"
                  = t.name

  .pure-u-3-4
    form action="/multi_destroy" id="destroy" method="post"
      - @videos.each_with_index do |v,index|
        hr
        section.pure-g-r
          section.pure-u-1-3
            input type="checkbox" group="video_id" value="#{v.id}" style="height:150px;" name="video_id[]"
            - if thumb = v.video.thumbnail
              a href="/watch/#{v.id}"
                - if index.zero?
                  img.thumb src="#{thumb.url}" width="180" height="135"  data-step="4" data-intro="動画視聴ページへ移動します"
                - else
                  img.thumb src="#{thumb.url}" width="180" height="135"
            - else
              a href="/watch/#{v.id}"
                = image_tag("nothumbnail.png", width: 180, height: 135, class: 'thumb')
          section.pure-u-2-3
            .title
              a href="/watch/#{v.id}"
                = v.title
            .tags
              ul.mytag
                - if v.actress_name
                  li
                    span.tag
                      a href="/watch?query=&actress_name=#{v.actress_name}"
                        i class="fa fa-tag"
                        = v.actress_name
                - v.tags.each_with_index do |tag,i|
                  - if i < 5
                    li
                      - if params[:tag] == tag.name
                        span.tag.tag-selected
                          a href="/watch/?tag=#{tag.name}"
                            i class="fa fa-tag"
                            = tag.name
                      - else
                        span.tag
                          a href="/watch/?tag=#{tag.name}"
                            i class="fa fa-tag"
                            = tag.name
                  - if i == 5
                    | ...
            div style="clear:both"
            - if index.zero?
              a href="/video/#{v.video.site_symbol}/#{v.video.param}"
                button.pure-button.pure-button-primary.edit-button  data-step="5" data-intro="動画情報編集ページへ移動します" formmethod="get" formaction="/video/#{v.video.site_symbol}/#{v.video.param}" 編集
            - else
              a href="/video/#{v.video.site_symbol}/#{v.video.param}"
                button.pure-button.pure-button-primary.edit-button  formmethod="get" formaction="/video/#{v.video.site_symbol}/#{v.video.param}" 編集
      - unless @videos.empty?
        button.pure-button.pure-button-error.delete-button#multi_destroy style="margin:20px" onclick="confirmDelete()" data-step="6" data-intro="選択した動画を削除します" 選択した動画を削除
    = paginate @videos, :theme => 'pure'
