.new  ng-controller='videoCtrl'


- if logged_in?
  = current_user
  - if @videos
    - @videos.each_with_index do |video,index|
      div
        - if video.has_key?(:embed)
          == video[:embed]
        -  else
          = val
      = form_for(@video) do |f|
        div.field
          input name="tags" id="tags_#{index}" value="foo,bar,baz"
          javascript:
            $('#tags_#{index}').tagsInput({

              });

        div.field
          = f.label :title
          br
          = f.text_field( :title,value: video[:video_title], size: 60)
        div.field
          = f.label :site
          br
          = hidden_field_tag(:site, video[:site_symbol])
          = hidden_field_tag(:url, params[:url])

        = f.submit
