- if @videos.nil?
  | 動画がありません
= render :partial => "video", :collection => @videos
javascript:
 var nend_params = {"media":13049,"site":91901,"spot":228697,"type":1,"oriented":4};
script type="text/javascript" src="http://js1.nend.net/js/nendAdLoader.js"

/   var adstir_vars = {
/     ver    : "4.0",
/     app_id : "MEDIA-da3ab8fa",
/     ad_spot: 1,
/     center : false
/   };
/ script type="text/javascript" src="http://js.ad-stir.com/js/adstir.js?20130527"
