section.pure-g-r
  section.pure-u-3-4 
    h3
      = @video[:title]
    .video-wrapper
      .video-container
        == @video[:embed]
    br
    a href="/watch"
      button.pure-button.pure-button-primary 一覧に戻る
  section.pure-u-1-4 
    / - if @dmm_items
    /   .pure-alert style="text-align:center" #{@actress_name}の人気動画
    /   ul 
    /   - @dmm_items.each do |item|
    /     a href="#{item[:affiliate_url]}"
    /       img.dmm-image src="#{item[:image_url]}"
    /     span = item[:title]
