// basic

body {
  color: #666;
  margin:0 auto;
}

.container {
}

.content {
  margin-bottom: 20px;
}

ul {
    list-style:none;
}

a {
  text-decoration: none;
}

i {
  margin:0 5px;
}


// top page

.catch-phrase {
  font-size: 2em;
}

.description {
  margin:15px;
  font:90%;
  color: #999;
}

.support_sites{
  li {
    margin-left:3px;
  }
}

.sub-container {
  margin-left:15px;
  margin-top:15px;
}



h1.logo {
  a,a:visited {
    color: black;
    text-decoration:none;
  }

  font-weight:bold;
  display: inline-block;
  text-align: center;
  font: 2em;
}

h2.about {
  margin-top:30px;
}

ul.menu {
  float:right;
  display: inline-block;
  padding: 20px 70px 0 0 !important;
}

.sidebar {
  margin-bottom: 2em;
  div {
    width: 80% ! important;

  }
  h1 {
    padding-left:15px;
  }
  ul {
    width: 150px;
    li {
      padding-left: 15px;
    }
  }
}

.chosen-single {
  span {
    letter-spacing: 0em;
  }
}



header {
  overflow:hidden;
  margin: 0 20px;
}

.subtitle {
  display: inline-block;
  padding-top: 15px;
}


.pure-menu-heading-logo {
  font-size: 1.5em !important;
  float: left;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

label {
  letter-spacing: 0em;
}

footer {
  margin-top: 20px auto;
  overflow: hidden;
  .footer-item {
    text-align: center;
  }
}

.tagsinput {
    display: inline-block;
  div  {
    input {
      width: 150px;
      border: 0px ! important;
      box-shadow: none ! important;
    }
  }
}

.input-form,.video {
    margin-left: 10px;
}

.field {
  margin-bottom: 10px;
  input[type="submit"] {
    margin-left: 10px;
    vertical-align: top;
  }
}

.pure-menu {
  a {
    text-transform: none !important;
  }
}

.pure-form,.mytag {
  margin-left:10px;
}

.search-button {
  margin-top: 20px;
}

.headline {
  width:100px;
  padding-left: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #e033a9;
}

.movie {
  margin-top:80px;
}

ul.explain {
  padding: 0 0 0 20px;
}

.description {
  line-height: 1.8;
  border-left: 5px solid #ddd;
  padding-left: 1.5em;
}

footer * {
  text-align: left;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}