// Place all the styles related to the UserVideos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  margin: 5px;
}

.chosen-container
{
  width: 150px ! important;
}

span.tag {
  display: inline-block;
  a {
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
  }
  a:hover {
    background-color: green;
    cursor: pointer;
    color: #fff;
  }
}

.tag-selected {
  a {
    background-color: green !important;
    cursor: pointer;
    color: #fff !important;
  }
}

.video-item {
  margin-top:15px;
}

.mytag {
  padding:0;
  li {
    float:left;
  }
}

.pure-paginator {
  margin: 100px 0 0 20px;
}

.video-wrapper {
    width: 600px;
    max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit-button {
  margin-left:10px;
}
.delete-button {
  font-size:70%;
}

.register-button {
  margin:10px;
}


h3,a img,.title {
  padding-left: 5px;
}

img.thumb {
  margin-top: 10px !important;
  margin-left:25px !important;
  text-align: center;
  vertical-align: top;
}

.dmm-image {
  max-width:188px;
  padding: 1.5px;
}