= form_for @user_session, url: user_session_path, html: {class: 'pure-form pure-form-stacked' } do |f|
  - if @notice
    .pure-alert.pure-alert-error style="width: 200px"
      = @notice
  fieldset
    legend ログイン
    = f.text_field :login,placeholder: 'ユーザID'
    = f.password_field :password,placeholder: 'パスワード'
    small style="display: inline-block"
      a href="/signup" ユーザ登録(無料)
    = f.submit "ログイン", class: "submit-button pure-button pure-button-primary",  style: 'margin: 20px 0 0 10px'
